:root{

    /* 从 vlook 获取的变量 */
    --m-v-f-fm-text: "color-emoji", VLOOK Digital local, -apple-system, Roboto, 
    "SF Pro Text", "SF Pro Display", "PingFang SC", "PingFang TC", "PingFang HK", 
    "Segoe UI", SegoeUI, "Microsoft YaHei", "微软雅黑", "Heiti SC", "黑体-简",
    SimHei, "黑体", "Microsoft JhengHei", "微軟正黑體", "Heiti SC", "黑体-简",
    SimHei, "黑体";

    --m-v-f-fm-bd-local:"color-emoji", VLOOK Digital local, -apple-system, Roboto,
    "SF Pro Text", "SF Pro Display", "PingFang SC", "PingFang TC", "PingFang HK",
    "Segoe UI", SegoeUI, "Microsoft YaHei", "微软雅黑", "Heiti SC", "黑体-简",
    SimHei, "黑体", "Microsoft JhengHei", "微軟正黑體", "Heiti SC", "黑体-简",
    SimHei, "黑体";

    --m-v-f-fm-subtitle-local: "color-emoji", -apple-system, Roboto, "SF Pro Text",
    "SF Pro Display", "PingFang SC", "PingFang TC", "PingFang HK", "Segoe UI",
    SegoeUI, "Microsoft YaHei", "微软雅黑", "Heiti SC", "黑体-简", SimHei,
    "黑体", "Microsoft JhengHei", "微軟正黑體", "Heiti SC", "黑体-简", SimHei,
    "黑体";
    --m-v-f-fm-key-local:-apple-system, Roboto, "SF Pro Text", "SF Pro Display",
    "PingFang SC", "PingFang TC", "PingFang HK", "Segoe UI", SegoeUI,
    "Microsoft YaHei", "微软雅黑", "Heiti SC", "黑体-简", SimHei, "黑体",
    "Microsoft JhengHei", "微軟正黑體", "Heiti SC", "黑体-简", SimHei, "黑体";

    --m-v-r-s-small: 4px;

    --m-d-fc: #222626;
    --m-d-bc: #FCF9F2;
    --m-d-bi: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4AQMAAAADqqSRAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMACHhIRQoAAAAlSURBVDjLYwABRgQxyh/l05T/HxUMuHtG+SOLP5r+RvmDKP0BALD8LjNR4HGxAAAAAElFTkSuQmCC");

    --m-theme1-alt: 128, 100, 169;
    --m-theme1-on-alt: 255, 255, 255;
    --m-theme2-alt: 42, 168, 153;
    --m-theme2-on-alt: 255, 255, 255;

    --m-v-f-w-text: normal;
    --m-v-f-w-bd: bold;
    --m-v-f-w-title: bold;

    --m-mark-bg: rgba(var(--m-theme2-alt),0.4);
    --m-tag-bg:  rgba(var(--m-theme1-alt),0.4);

    --m-key-bg: #484a4c;
    --m-key-reflect: #7a7d80;
    --m-key-shadow: #000000;
    --m-pn-c:#EBEDEF;
    --m-pn-c-a:#cfd4d8;

}

/* 暗模式 */
html[data-theme-mode="dark"]{

    --m-d-bi: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4AQMAAAADqqSRAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlMAD+Ys0KkAAAAlSURBVDjLYwABRgQxyh/l05T/HxUMuHtG+SOLP5r+RvmDKP0BALD8LjNR4HGxAAAAAElFTkSuQmCC");

    --m-d-fc: #dbdddf;
    --m-d-bc: #222426;
    --m-theme1-alt: 128, 100, 169;
    --m-theme1-on-alt: 255, 255, 255;
    --m-theme2-alt: 42, 168, 153;
    --m-theme2-on-alt: 255, 255, 255;
     --m-key-bg: #d8dadc;

    --m-key-reflect: #ffffff;
    --m-key-shadow: #a2a7ac;

    --m-mark-bg: rgba(var(--m-theme2-alt),0.6);
    --m-tag-bg:  rgba(var(--m-theme1-alt),0.6);

    --m-pn-c:#383a3c;
    --m-pn-c-a:#515456;
}


/* #region *************************** 编辑器区域 ************************************* */

 /* .layout__center, 中间整个区域，排除侧边栏、左侧文档树、分隔线外*/
.layout-tab-bar, /*文档选项卡*/
.protyle  /* 标题区域(.protyle-top)，编辑区域(.protyle-wysiwyg,)和右侧的滚动条*/
,.protyle-breadcrumb  /*面包屑*/
{
    background: var(--m-d-bc) var(--m-d-bi) !important;
    caret-color: var(--m-theme2-background);  /* 闪烁的光标的颜色 */
    background-color:  var(--m-para-text-bg-color); 
    -webkit-tap-highlight-color: transparent;
}

/* 仅内容编辑区域（不含标题栏） */
.protyle-wysiwyg,.protyle-wysiwyg--attr{
    color: var(--m-d-fc) ;
    font: var(--m-v-f-w-text) 1em / 1.5 var(--m-v-f-fm-text);
}

/* #endregion *************************** 编辑器区域 */

/* 侧边栏底色 */
#dockLeft,
#dockRight,
#status,
.layout-tab-container{
    background: var(--m-pn-c);
}

/* 左/右/底部 侧边栏按钮 */
#dockLeft .dock__item--activefocus,
#dockRight .dock__item--activefocus,
#status .dock__item--activefocus {
    background: var(--m-theme1-background) !important;
    color: var(--m-theme1-on-background) !important;
}
#dockLeft .dock__item--activefocus:hover,
#dockRight .dock__item--activefocus:hover,
#status .dock__item:hover  {
    background: var(--m-theme2-background) !important;
    color: var(--m-theme2-on-background) !important;
}

#dockLeft .dock__item.ariaLabel:hover,
#dockRight .dock__item.ariaLabel:hover,
#status .toolbar__item:hover {
    background: var(--m-theme2-background) !important;
    color:  var(--m-theme2-on-background) !important;
}

.item--focus {
    /* border-bottom: 3px solid var(--m-theme2-background) !important; */
}

.layout__wnd--active .layout-tab-bar .item--focus:after {
    background-color: var(--m-theme2-background);
}

/* #region *************************** 顶部Dock ************************************* */

#toolbar{
    background: var(--m-theme1-background);
    color: var(--m-theme1-on-background);
}

/* 按钮 */
#toolbar .toolbar__item{
    color: var(--m-theme1-on-background);
}
#toolbar .toolbar__item:hover{
    background: var(--m-theme2-background);
    color: var(--m-theme2-on-background);
}

/* 工作空间： [REN](Savor主题)  */
body:not(.body--mobile,.body--window) #barWorkspace {
    font: var(--m-v-f-w-title) 1em/22px var(--m-v-f-fm-subtitle-local);
    border-radius: 4px;
    padding: 0 3px 0 8px;
    margin: 0px 3px 0px 2px;
    background-color:var(--m-theme1-on-background);
    color:  var(--m-theme1-background);
    text-transform: uppercase;
}
body:not(.body--mobile,.body--window) #barWorkspace svg.toolbar__svg {
    margin-left: 2px;
    padding: 5px;
}

/* 标题 */
#toolbar .fn__ellipsis{
    color: var(--m-theme1-on-background);
}


/* #endregion *************************** 顶部Dock  */

/* #region *************************** 左侧边栏 ************************************* */

/* 侧边栏标题区域 */
.block__icons{
    margin: 0px;
    /* 上边 | 右边 | 下边 | 左边 */
    padding: 0px;  
    background: var(--m-pn-c-a) var(--m-d-bc) !important;
    /* border-bottom: 2px solid ; */
}

/* 侧边栏标题区域的大图标：文档树、大纲、收集箱 、书签、标签、*/
.block__logo
{
    background-color: rgba(var(--m-theme1-alt),0.4);
    border-radius: var(--m-v-r-s-small);
    color: rgb(var(--m-theme1-on-alt));
    padding: 2px 5px;
}
.block__logo:hover{
    background: rgb(var(--m-theme2-alt));
    color: rgb(var(--m-theme2-on-alt));
}

/* 侧边栏标题区域的大图标 旁边的按钮 */
.block__icons .block__icon{
    background: rgb(var(--m-theme1-alt)) !important;
    color: var(--m-pn-c-a);
}
.block__icons .block__icon:hover{
    background: rgb(var(--m-theme2-alt)) !important;
    color: var(--m-pn-c-a) !important;
}

/* 侧边栏标题区域  下方的每个子项 */
.layout-tab-container .b3-list-item{
    line-height: 28px;
    min-height: 28px;
    padding: 0 4px;
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
    background-color: rgba(0,0,0,0);
    text-align: left;
    border: 0;
    color: var(--b3-theme-on-background);
    margin: 1px 8px;
}
.layout-tab-container .b3-list-item:hover{
    /* background: red !important; */
    background: var(--m-pn-cc-a);
}
/* 侧边栏标题区域  下方的每个子项（选中的） */
.layout-tab-container .layout__tab--active .b3-list--background .b3-list-item--focus,
.layout-tab-container .b3-list-item--focus,
.layout-tab-container .b3-list--background .b3-list-item:hover:not(.b3-list-item--focus):not(.dragover):not(.dragover__top):not(.dragover__bottom), 
.layout-tab-container .b3-list--background .b3-list-item--focus:not(.dragover)
{
    background: var(--m-pn-c);
    border: 1px solid rgb(var(--m-theme1-alt));
}



/* #endregion *************************** 左侧边栏 */

/* #region *************************** 右侧边栏 ************************************* */

.block__icons{
    background: var(--m-pn-c) !important;
}
/* 关系图、全局关系图、反链区域的面板背景色 */
#layouts .layout-tab-container .graph__svg {
    background: var(--m-pn-c) !important;
}

/* 关系图、全局关系图 最大化的时候： 窗口的关闭、缩小、最大化按钮 */
#windowControls .toolbar__item {
    background: var(--m-theme1-background) !important;
    color: var(--m-theme1-on-background) !important;
}
#windowControls .toolbar__item:hover {
    background: var(--m-theme2-background) !important;
    color: var(--m-theme2-on-background) !important;
}

/* #endregion *************************** 右侧边栏 */


/* #region *************************** 底侧边栏: 仿 Savor ************************************* */
.status {
	height: 25px;
	background-color: transparent;
	margin-top: -30px;
	margin-bottom: 8px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	border: 0;
}
.body--win32>.fn__flex-1 {
	overflow: visible;
}
.status__counter:not(:empty) {
	border-radius: 5px;
	/* background-color: var(--b3-theme-primary);
	color: var(--b3-dock-stats-counter-color) !important; */
    color: var(--m-theme1-on-background) !important;
    background: var(--m-theme1-background) !important;
	padding: 0px 0 0 8px;
	margin: 0px 7px 7px 7px;
	position: relative;
	right: 28px;
	height: 26px;
	line-height: 26px;
}

.status__counter:not(:empty) span {
	color: var(--m-theme1-on-background) !important;
}

.status__msg:not(:empty) {
	opacity: 0.5;
	animation: statusmsg 5s ease-in-out;
	max-width: 100px;
	padding: 0px 8px;
	border-radius: 5px;
	background: var(--m-theme1-background) !important;
	color: var(--m-theme1-on-background) !important;
	margin: 0px 7px 7px 7px;
	transition: max-width 300ms, opacity 300ms;
	transition-delay: 2000ms;
	position: relative;
	right: 21px;
	height: 26px;
	line-height: 26px;
}

.status__msg:not(:empty):before {
	content: "📢";
	font-size: 12px;
}

.status__msg:not(:empty):hover {
	opacity: 1;
	max-width: 400px;
	transition: max-width 500ms ease-out;
}
.layout#layouts .fn__flex-column:not(.fn__flex-shrink)>.fn__flex-1>.fn__flex>.layout-tab-container>.fn__flex-column {
	padding-bottom: 30px;
}
.status #statusHelp {
	position: relative;
	right: 35px;
}
.status #barDock {
	position: absolute;
	right: 0px;
	z-index: 8;
}

.status>.fn__flex-1 {
	position: relative !important;
	width: 0px !important;
	right: 0px;
	flex: 0;
}

.status #barDock .b3-menu {
	left: unset !important;
	right: 4px;
	bottom: 30px !important;
}

.status #barDock:before {
	right: unset !important;
	left: 0px;
	transform: rotateY(180deg);
}

.status #barDock:after {
	left: unset !important;
	right: 100%;
}


/*底栏适配调整测试 TODO:  */
.status .toolbar__item {
	margin: 7px 5px 6px 5px;
	padding: 1px;
}

.status .toolbar__item svg {
	padding: 5px;

	/* color: var(--b3-dockright-color); */
}

.body--win32>.fn__flex-1 {
	overflow: visible;
}

.status #statusHelp {
	color: var(--m-theme1-on-background) !important;
    background: var(--m-theme1-background) !important;
    
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;

    height: 26px !important;
    right: 40px;
}

.status__counter:not(:empty) {
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.status #barDock {
	/* background: var(--m-theme1-background) !important; */
	/* color: var(--m-theme1-on-background) !important; */
	right: 3px;
}

.status{
    background-color: transparent !important;
}

/* 把最有一个向上移动 */
.dock#dockRight .dock__item:last-child {
	margin-bottom: 40px !important;
	bottom: 0px;
}
/* #endregion *************************** 底侧边栏   */
